* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
  height: 100%;
}

body {
  background-color: white;
}

.splash{
  /* The image used */
  background-image: url("images/splashimage.jpeg");
  /* background-color: aqua; */
  min-height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000;
}
.caption span.border {
  /* background-color: #111; */
  color: black;
  padding: 10px;
  font-size: 64px;
  text-align: center;
}
.caption span.date {
  font-size: 48px;
}
.scroll{
  text-align: center;
  color: white;
  background-color: gray;
  opacity: 60%;
  padding: 10px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  min-width: 100px;
}
.block {
  background-color: white;
  width: 100%;
  min-height: 500px;
}
form {
  width: auto;
  padding: 10px;
  /* border: 1px solid black; */
  margin-top: 20px;
}

form label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=text], input[type=email], input[type=textArea]{
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}
input[type=textArea]{
  min-height: 40px;
  width: 300px;
}
form button {
  display: block;
  margin: 10px auto;
  width: 100px;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
  border-radius: 20px;
  border:none;
}
.charm-regular {
  font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal;
}

.charm-bold {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.splitleft{
  text-align: center;
  margin-top: 20px;
}
.splitleft p{
  padding: 10px;
  margin-top: 10px;
}
.splitleft h1{
  padding: 10px;
}
@media only screen and (max-device-width: 1366px) {
  .splash {
    background-attachment: scroll;
    background-position: -300px 0px;
  }
}